<div class="w-ext-storybook-navigator">
	<div class="w-ext-storybook-navigator__title" data-export-id="{{@title}}"></div>
	<div class="w-ext-storybook-navigator__subtitle" data-export-id="{{@subtitle}}"></div>

	<div class="w-ext-storybook-navigator__arrow _next" data-export-id="{{@arrowNext}}"></div>
	<div class="w-ext-storybook-navigator__arrow _prev" data-export-id="{{@arrowPrev}}"></div>
</div>
