<div class="w-ext-storybook-menu">
	<div class="w-ext-storybook-menu__viewport" data-export-id="{{@viewport}}">
		<div class="w-ext-storybook-menu__slider" data-export-id="{{@slider}}"></div>
		<div class="w-ext-storybook-menu__bar" data-export-id="{{@bar}}">
			<div class="w-ext-storybook-menu__thumb" data-export-id="{{@thumb}}"></div>
		</div>
	</div>
</div>
