{{$ zb.storybook.templates.menu }}

<div class="w-ext-storybook-menu">
	<div class="w-ext-storybook-menu__viewport" data-export-id="{{@viewport}}">
		<div class="w-ext-storybook-menu__slider" data-export-id="{{@slider}}"></div>
	</div>
</div>
