{{$ zb.storybook.templates.scene }}

{{% zb.storybook.ui.Menu, {}, menu }}
{{% zb.storybook.ui.BackButton, {}, backButton }}
{{% zb.storybook.ui.MinimizeButton, {}, minimizeButton }}
{{% zb.storybook.ui.Spinner, {}, spinner }}

<div class="s-ext-storybook__area" data-component="{{% zb.widgets.InlineWidget, {}, area }}"></div>
