{{$ zb.storybook.templates.menuItem }}
{{* this.caption string }}
{{* this.options Array<string> }}

<div class="w-ext-storybook-menu-item">
	<div class="w-ext-storybook-menu-item__caption">{{= this.caption }}</div>
	<div class="w-ext-storybook-menu-item__options">
		{{ this.options.forEach((option) => { }}
			<div class="w-ext-storybook-menu-item__option" data-component="{{% zb.widgets.InlineWidget, {}, options[] }}">
				{{= option }}
			</div>
		{{ }); }}
	</div>
</div>
